# The username to use when logging in.
#name='CharlieRoot'

# The password for the account.
#password='secret'

# The base URL for the MoinMoin wiki pages.
#base=https://wiki.FreeBSD.org

# The default target It's used unless a selector or the -t flag is used.
target='/WikiSandBox'

# The default textfile.
textfile='/tmp/wiki.moin'

# The select_target function, which defines the logic behind selectors.
select_target() {
    case "$1" in
        [Ss]*)
            target='/WikiSandBox'
            textfile="$HOME/wifi.moin"
            ;;
        *)
            printf '%s\n' "invalid selector '$1'" >&2
            ;;
        esac
}

